# Programming Assignment 4
## Jackson Gawarecki
### Version 1
#### CS150 Fall Semester

# 1.A
**append()** -allows us to add a single element to the end of the list.

In [6]:
numbers=[12,41,213,91,32,76]
numbers.append(86)
numbers

[12, 41, 213, 91, 32, 76, 86]

# 2.A
**extend**-allows us to add several elements to the end of a list (in the form of a list)

In [7]:
extendexample= [123,54,12,312]
extendexample.extend([1,2,3])
extendexample

[123, 54, 12, 312, 1, 2, 3]

# 3.A
**insert**- allows us to insert elements into a list at any specified location

In [8]:
insertexample= [1,2,3,4,5]
insertexample.insert(2, 99)
insertexample

[1, 2, 99, 3, 4, 5]

# 4.A
**remove**- remove an element from the list where it exists for the first time

In [9]:
removeexample=[1,2,3,4,3,5,6]
removeexample.remove(3)
removeexample

[1, 2, 4, 3, 5, 6]

# 5.A
**count()**- returns how many times a specified element appears in a list

In [11]:
countexample=[1,2,3,4,1,2,3,3,3]
countexample.count(3)

4

# 6.A
**index()**- returns the position of the number or message in a list

In [12]:
indexexample=[31,312,415,13]
indexexample.index(312)

1

# 7.A
**pop()**- removes the element at the specified positon

In [13]:
popexample=["pos0","pos1","pos2"]
popexample.pop(1)
popexample

['pos0', 'pos2']

# 8.A
**sorted()**- returns a sorted list of specified iterable object

In [14]:
sortedexample=[4,1,3,2,5]
sorted(sortedexample)

[1, 2, 3, 4, 5]

# 9.A
**copy()**- returns a copy of a list that is independent of the original list and can be changed without changing the original

In [16]:
copyexample=[87,84,63,15]
c2=copyexample.copy()
print(c2)
c2.append(1)
print(c2)
print(copyexample)

[87, 84, 63, 15]
[87, 84, 63, 15, 1]
[87, 84, 63, 15]

# 10.A
**clear()**- removes all elements from a list leaving an empty list

In [17]:
clearexample=[2,4,6,2,57]
clearexample.clear()
clearexample

[]

# 11.A
**any()**- returns true if any element in the list is true

In [18]:
list1=[False, True, False, False]
any(list1)

True

# 12.A
**filter()**- forms a new list that contains only elements that satisfy a certain condition

In [19]:
def less_five(x):
    if x<5:
        return x
import random
numbers2= [random.randrange(1,11) for i in range(10)]
print(numbers2)
list(filter(less_five,numbers2))

[6, 5, 5, 3, 3, 7, 3, 1, 1, 3]

[3, 3, 3, 1, 1, 3]

# 13.A
**list()**- returns a list

In [21]:
words= "Jackson"
print(type(words))
words_list=list(words)
print(type(words_list))

<class 'str'>
<class 'list'>

# 14.A
**map()**- allows you to process and transform all the items in a iterable without using an explicit for loop.

In [23]:
def less_five(x):
    if x<5:
        return x
import random          #using the same function as filter()
numbers3= [random.randrange(1,11) for i in range(10)]
print(numbers3)
list(map(less_five, numbers3))

[6, 9, 2, 6, 8, 4, 7, 3, 9, 4]

[None, None, 2, None, None, 4, None, 3, None, 4]

# 1.B
**cmp()**- compares two integers and returns -1 if a<b, 0 if a=b, or 1 if a>b

a=2
b=5
print(cmp(a, b))    #answer should be -1

# 2.B
**len()**- return the number of items in  list

In [33]:
lenexample=(12,132,5,234,234,76,34,23)
len(lenexample)

8

# 3.B
**max()**- returns the largest number

In [34]:
maxexample=(1,2,3,4,87,9)
max(maxexample)

87

# 4.B
**tuple(seq)**- converts a sequence list of items into tuples

In [37]:
list4= ['Jack','student','athlete']
tuple1=tuple(list4)
tuple1

('Jack', 'student', 'athlete')